Source: dsnap-sync
Section: admin
Priority: optional
Maintainer: Networkx GmbH <support@networkx.de>
Build-Depends: debhelper (>= 10), dh-exec
Uploaders: Ralf Zerres <ralf.zerres@networkx.de> 
Standards-Version: 4.1.4.1
Homepage: https://github.com/rzerres/dsnap-sync.git

Package: dsnap-sync
Architecture: amd64
Conflicts: snap-sync
Depends: dash, snapper, btrfs-progs, systemd
Suggests: pv, libnotify-bin, mtx, jq, ltfs
Description: Backup and synchronize btrfs filesystems
 dsnap-sync is designed to backup btrfs formated filesystems. It takes 
 advantage of the specific snapshots functionality btrfs offers and i
 combines it with managemnet functionality of snapper.
 . 
 dsnap-sync creates backups as btrfs-snapshots on a selectable target 
 device. Plug in and mount any btrfs-formatted device to your system. 
 Supported devices may be either local USB drives, but can be as well 
 remote accessible RAID drives. If possible the backup process will send
 incremental snapshots to the target drive. If the snapshot will be 
 stored on a remote host, it is secured with ssh.
