#!/usr/bin/make -f
# debian/rules
# -*- mode: makefile; coding: utf-8 -*-

export DH_VERBOSE=1
#export DESTROOT=$(CURDIR)/debian/dsnap-sync
export DESTDIR=$(CURDIR)/debian/dsnap-sync

%:
#	dh $@ --sourcedirectory=src
	dh $@

#override_dh_auto_configure:
#	dh_auto_configure --sourcedirectory=src -- --prefix=/usr

override_dh_auto_install:
	dh_auto_install -- prefix=/usr

#override_dh_install:
#	dh_install 
#	dh_missing --fail-missing

